// COLORS //
$grey       : #161616;
$blue       : #0064A5;
$yellow     : #FFC300;
$green      : #4DAA2F;
$red        : #E12528;
$orange     : #F77611;
$white      : #FFFFFF;


// FONTS //
$font       : 'Open Sans', sans-serif;
$fontReg    : 400;
$fontBold   : 700;
$fontXBold  : 900;


// SIZES //
$baseFont     : 16px;
$baseDistance : 12px;
