html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box; }

h1, h2, h4, h5 {
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.8px; }

h1 {
  font-size: 27.2px; }

h2 {
  font-size: 25.6px; }

h4 {
  font-size: 22.4px; }

h5 {
  font-size: 13.33333px;
  font-weight: 700; }

.header {
  background-color: #161616;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  min-width: 320px;
  transition: all .3s ease-in-out;
  z-index: 10; }
  @media screen and (min-width: 768px) {
    .header {
      top: 44px;
      width: 400px;
      margin: 0 auto;
      box-shadow: 0 0 18px #494949; } }
  .header .container {
    position: relative;
    height: 100%;
    width: 100%; }
    .header .container .sport {
      position: absolute;
      width: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header .container .game-status {
      position: absolute;
      top: 50%;
      right: 12px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      transform: translateY(-50%); }
      .header .container .game-status.not-started {
        background-color: #F77611; }
      .header .container .game-status.finished {
        background-color: #E12528; }
      .header .container .game-status.started {
        background-color: #4DAA2F;
        background: -webkit-radial-gradient(circle, #63cb41, #4DAA2F);
        background: -o-radial-gradient(circle, #63cb41, #4DAA2F);
        background: -moz-radial-gradient(circle, #63cb41, #4DAA2F);
        background: radial-gradient(circle, #63cb41, #4DAA2F);
        -webkit-animation: status-flash 1.5s infinite;
        -moz-animation: status-flash 1.5s infinite;
        -ms-animation: status-flash 1.5s infinite;
        -o-animation: status-flash 1.5s infinite;
        animation: status-flash 1.5s infinite; }

@-webkit-keyframes status-flash {
  0% {
    box-shadow: 0 0 3px #4DAA2F; }
  50% {
    box-shadow: 0 0 40px #c6ecb9; }
  100% {
    box-shadow: 0 0 3px #4DAA2F; } }

@-moz-keyframes status-flash {
  0% {
    box-shadow: 0 0 3px #4DAA2F; }
  50% {
    box-shadow: 0 0 40px #c6ecb9; }
  100% {
    box-shadow: 0 0 3px #4DAA2F; } }

@-ms-keyframes status-flash {
  .header .container .game-status.started 0% {
    box-shadow: 0 0 3px #4DAA2F; }
  .header .container .game-status.started 50% {
    box-shadow: 0 0 40px #c6ecb9; }
  .header .container .game-status.started 100% {
    box-shadow: 0 0 3px #4DAA2F; } }

@-o-keyframes status-flash {
  0% {
    box-shadow: 0 0 3px #4DAA2F; }
  50% {
    box-shadow: 0 0 40px #c6ecb9; }
  100% {
    box-shadow: 0 0 3px #4DAA2F; } }

@keyframes status-flash {
  0% {
    box-shadow: 0 0 3px #4DAA2F; }
  50% {
    box-shadow: 0 0 40px #c6ecb9; }
  100% {
    box-shadow: 0 0 3px #4DAA2F; } }
    .header .container .country-flag {
      position: absolute;
      top: 50%;
      left: 12px;
      width: 20%;
      height: 80%;
      transform: translateY(-50%); }
      .header .container .country-flag.swe {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 52.5px 35.25px;
        background-image: url(../../assets/swe-flag.png); }
      .header .container .country-flag.fra {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 52.5px 35.25px;
        background-image: url(../../assets/fra-flag.png); }
      .header .container .country-flag.uk {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 52.5px 35.25px;
        background-image: url(../../assets/uk-flag.png); }
  .header .sport h2 {
    text-align: center; }

.event {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .event::before {
    left: 10px;
    background: linear-gradient(to right, rgba(206, 206, 206, 0) 0, #cecece 20%, #cecece 80%, rgba(206, 206, 206, 0) 100%);
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    width: 35%;
    z-index: 998; }
    @media screen and (min-width: 768px) {
      .event::before {
        width: 45%; } }
  .event::after {
    right: 10px;
    background: linear-gradient(to right, rgba(206, 206, 206, 0) 0, #cecece 20%, #cecece 80%, rgba(206, 206, 206, 0) 100%);
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    width: 35%;
    z-index: 998; }
    @media screen and (min-width: 768px) {
      .event::after {
        width: 45%; } }
  .event .versus-container {
    display: inline;
    padding: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: #FFFFFF solid 2px;
    border-radius: 50px;
    z-index: 999;
    box-shadow: 0 0 10px #cccccc;
    background-color: rgba(0, 0, 0, 0.2); }
    .event .versus-container .versus-content {
      position: relative;
      height: 100%;
      width: 100%; }
      .event .versus-container .versus-content h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
  .event .team-container {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    z-index: 999; }
    .event .team-container.home {
      top: 0; }
    .event .team-container.away {
      bottom: 0; }
    .event .team-container .team-content {
      position: relative;
      height: 100%;
      width: 100%; }
      .event .team-container .team-content .content-info {
        position: absolute;
        left: 50%;
        text-align: center;
        width: 100%; }
        .event .team-container .team-content .content-info.home {
          top: 60%;
          transform: translate(-50%, -60%); }
        .event .team-container .team-content .content-info.away {
          top: 40%;
          transform: translate(-50%, -40%); }
        .event .team-container .team-content .content-info h5 {
          color: #004572;
          text-shadow: 0 0 18px #FFFFFF;
          margin-bottom: 6px; }
        .event .team-container .team-content .content-info h1 {
          text-shadow: 0 0 38px #333333;
          font-weight: 700; }

.vote-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #0064A5;
  z-index: 1001;
  transition: all .3s ease-in-out; }
  @media screen and (min-width: 768px) {
    .vote-container {
      width: 400px;
      bottom: 22px;
      margin: 0 auto;
      box-shadow: 0 0 22px #494949; } }
  .vote-container .vote-list {
    list-style: none;
    overflow: hidden;
    height: 100%; }
    .vote-container .vote-list li.vote-option {
      float: left;
      width: 33.33%;
      position: relative;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      transition: background .3s ease-in-out; }
      .vote-container .vote-list li.vote-option:hover {
        background-color: #004572; }
      .vote-container .vote-list li.vote-option.active {
        background-color: #004572; }
        .vote-container .vote-list li.vote-option.active .vote-choice {
          text-shadow: 0 0 18px #FFFFFF; }
      .vote-container .vote-list li.vote-option.inactive {
        opacity: 0.2; }
      .vote-container .vote-list li.vote-option:nth-child(1)::after, .vote-container .vote-list li.vote-option:nth-child(2)::after {
        content: '';
        width: 2px;
        height: 100%;
        background-color: #00558c;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999; }
      .vote-container .vote-list li.vote-option .vote-choice {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        font-size: 20.8px;
        font-weight: 700;
        text-shadow: 0 0 10px #303030; }
    .vote-container .vote-list .user-prompt {
      width: 100%;
      position: absolute;
      top: -75%;
      left: 0;
      height: 75%;
      background-color: #00558c;
      box-shadow: 0 0 22px #494949; }
      .vote-container .vote-list .user-prompt div {
        text-align: center;
        font-weight: 400;
        color: #FFFFFF;
        letter-spacing: 1px;
        padding: 8px; }

.sport-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0; }
  .sport-background.football.sweden {
    background-image: url("../../assets/football_sweden_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.football.sweden {
        background-image: url("../../assets/football_sweden_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.football.france {
    background-image: url("../../assets/football_france_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.football.france {
        background-image: url("../../assets/football_france_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.football.england {
    background-image: url("../../assets/football_england_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.football.england {
        background-image: url("../../assets/football_england_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.tennis.sweden {
    background-image: url("../../assets/tennis_sweden_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.tennis.sweden {
        background-image: url("../../assets/tennis_sweden_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.tennis.france {
    background-image: url("../../assets/tennis_france_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.tennis.france {
        background-image: url("../../assets/tennis_france_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.tennis.england {
    background-image: url("../../assets/tennis_england_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.tennis.england {
        background-image: url("../../assets/tennis_england_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.snooker.sweden {
    background-image: url("../../assets/snooker_sweden_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.snooker.sweden {
        background-image: url("../../assets/snooker_sweden_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.snooker.england {
    background-image: url("../../assets/snooker_england_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.snooker.england {
        background-image: url("../../assets/snooker_england_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.icehockey.england {
    background-image: url("../../assets/icehockey_england_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.icehockey.england {
        background-image: url("../../assets/icehockey_england_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background.handball.sweden {
    background-image: url("../../assets/handball_sweden_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .sport-background.handball.sweden {
        background-image: url("../../assets/handball_sweden_large.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; } }
  .sport-background::before {
    background-image: url(../../assets/jumbotron-pattern.png);
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%; }

/*# sourceMappingURL=app.css.map */
